body {
    margin: 0;
    background-size: cover;
    overflow-x: hidden;
    height: 100vh;
    background-color:black;
    /* position:absolute; */
    
}


.topbackimage{

    right:550%;

}


.Navigation {

    font-family: "Goudy Bookletter 1911", sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    background: black;
}

.Navigation .Navigation-left {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 25%;
}

.Navigation .Navigation-center {
    padding-left: 15%;
    padding-right: 15%;
    width: 50%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Navigation .Navigation-right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 25%;

}

.Navigation a {
    text-align: center;
    color: white;
    padding: 16px 30px;
    border-radius: 5px;
    float: left;
    font-size: 20px;
    text-decoration: none;
}

.Navigation a:hover {
    color: rgb(169, 169, 169);
    transition: all 2.5s;
}


.navpadding {
    /*position: relative;*/
    /*left: 30.9%;*/
}

.signup {
    position: relative;
    float: right;
}



/* .img-container{
    
    display:contents;
    width: 100%;
    justify-content: space-evenly;
} */

.AboutUsTEST {
    justify-content:space-between;
    padding: 200px;
    border: 8px solid rgb(0,0,0);
    background-color: rgb(0,0,0);
    color:white;
}

.boxer {
    color:white;
    font-weight: 600;
    font-size: 30px;
    text-align:center;
    display:flex;
    padding: 8px;
    margin: 15px;
    border: 10px;   
}

.boxer1 {
    transform: translate(0%, 50%);
    text-decoration: none;
    color: black;
    display:flex;
}

.AboutUs1 {
    justify-content:space-between;
    padding: 5px;
    margin: 100px;
    border: 8px solid rgb(0,0,0);
    background-color: rgb(0,0,0);
    color:white;
}

.boxer1 {
    
    color:white;
    font-weight: 600;
    font-size: 30px;
    text-align:center;
    display:flex;
    padding: 8px;
    margin: 15px;
    border: 10px;   
}


.h4box{
    height: 50px;
    text-size-adjust: 500px;
        text-align:center;
    
    
}



