body{

    background-image: url('/images/background.JPG');
    background-size:cover;
}
.submitCSS {
    transition: all 1s;
    width: fit-content;
    border-width: 0.25rem;
    border-radius: 15px;
    background-color: black;
    color:white;
    text-decoration:solid;
    font-size: 1rem;
}

.submitCSS div {
    padding: 1rem 1rem 1rem;
}

.submitCSS div a {
    transition: all 0.05s;
    border-radius: 3rem;
    width: max-content;
    padding: inherit;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

.submitCSS:hover {
    transition: all 2s;
    background-color: white;
    color: black;
    text-decoration: white;
}

.submitCSS div a:hover {
    transition: all 0.25s;
    color: black;
    text-decoration: none;
}
.container{
    max-width: 1440px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.basket{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: black;
}

.item-info{
    
}

.item-basket{
    display: flex;
    flex-direction: row;
    background-color: rgb(219, 219, 219);
    border-radius: 25px;
    width: 100%;
    margin-bottom: auto;
}

.item-basket .item-details{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.item-basket .item-image {
    display: flex;
    align-items: center;
    padding: 2.5%;
}

.item-details .h3{
    font-weight: bold;
    font-size: large;
    margin-bottom: 5px;
    color: aliceblue;
}

.item-details .wrapper{
    display: flex;
    width: 100%;
    padding: 1.25%;
    gap: 10px;
}

.basket-total {
    background-color: rgb(219, 219, 219);
    border-radius: 25px;
    height: fit-content;
    width:fit-content;
    
    justify-content: center;
    text-align: center;
}

.amount{
    padding: 15px;
}

.ts{
    font-size:1.3rem;
    font-weight:600;
}
.tsp{
    font-size:1rem;
    font-weight:bold;
}

.amount > div {
    display: flex;
    justify-content: space-between;
}

.basket .basket-details {
    width: 75%;
}



@media (min-width: 327px) and (max-width:680px) {
    .item-image{
        display:flex;
    }
    .item-basket{
        display: flex;
        vertical-align: middle;
        align-items: center;
        flex-direction: column;
        min-width: 320px;
        background-color: rgb(219, 219, 219);
        border-radius: 25px;
        margin-bottom: auto;
    }

    .item-details .wrapper{
        display: flex;
        width: 100%;
        padding-left: 15.25%;
        float:none;
        gap: 10px;
    }

    .basket {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        border-bottom: 1px;
    }

    .cart .wrapper {
        margin-top: auto;
    }

    
    .cart .item-basket {
        border-right: 1px;
        margin-bottom: 0;
    }
}

.centering{
    
    text-align: center;
}

@media(max-width:326px) {
    .item-image{
        justify-content: center;
        display:flex;
        width:250px;
        height:250px;

    }
    img{
        padding-left: 15%;
        width:70%;
        height:70%;
    }
    .item-basket{
        margin-left:10%;
        display: flex;
        vertical-align: middle;
        align-items: center;
        flex-direction: column;
        min-width: 220px;
        background-color: rgb(219, 219, 219);
        border-radius: 25px;
        margin-bottom: auto;
    }

    .item-details .wrapper{
        display: flex;
        width: 100%;
        float:none;
        gap: 10px;
    }

    .basket {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        border-bottom: 1px;
    }

    .cart .wrapper {
        margin-top: auto;
    }

    
    .cart .item-basket {
        border-right: 1px;
        margin-bottom: 0;
    }

    .basket-total {
        background-color: rgb(219, 219, 219);
        border-radius: 25px;
        height: fit-content;
        width:fit-content;
        margin-left:35%;
        justify-content: center;
        text-align: center;
    }
}
