.container{
    max-width: 1440px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.basket{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: black;
}

.item-basket{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 25px;
    width: 100%;
    margin-bottom: auto;
}

.item-basket .item-details{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.item-basket .item-image {
    display: flex;
    align-items: center;
    padding: 2.5%;
}

.item-details .h3{
    font-weight: bold;
    font-size: large;
    margin-bottom: 5px;
    color: aliceblue;
}

.item-details .wrapper{
    display: flex;
    width: 100%;
    padding: 1.25%;
    gap: 10px;
}

.basket-total {
    background-color: white;
    border-radius: 25px;
    height: fit-content;
    width: 20%;
}

.amount{
    padding: 15px;
}

.amount > div {
    display: flex;
    justify-content: space-between;
}

.basket .basket-details {
    width: 75%;
}


@media( max-width: 1200px) {


    .basket {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        border-bottom: 1px;
    }

    .cart .wrapper {
        margin-top: auto;
    }

    .cart .item-basket {
        border-right: 1px;
        margin-bottom: 0;
    }
}
