body{
  margin:0;
  background-image: url(/images/contactusBig.png);
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
}

a{
  color: rgb(190,190,190);
}
.boxer {
  justify-content: center;
  display:flex;
  height: 250px;
  min-height:200px;
  min-width:200px;
  width:500px;
  /* border-radius:15px; */
  background-color: #202020;
  padding: 50px;
  border: 20px solid #202020;

  color: rgb(220,220,220);
}

.box-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top:455px;
  /* background-color:#202020; */
}

.box-container img{
  width:100%;
  height:100%;
  object-fit:cover;
}
.box-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media only screen and (min-width: 651px) and (max-width:1030px){
  .box-container{
    display: flex;
    padding-top:400px;
    /* justify-content: space-between; */
    margin-top: 2%;
    margin-bottom: 8%;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      max-width:150%;
    }
  }
    
    @media only screen and (min-width: 378px) and (max-width: 650px){
      .box-container{
        display: flex;
        padding-top:400px;
        margin-top: 2%;
        margin-bottom: 8%;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        /* width:20%; */
      }
      .boxer{
        justify-content: center;
        align-items: center;
        display:flex;
        height: 300px;
        min-height:200px;
        min-width:200px;
         width:250px;
        background-color: #202020;
        padding: 50px;
        /* border: 15px solid rgb(200,200,200); */
        color: rgb(220,220,220); 
      }
    }

    @media only screen and (max-width: 377px){
      .box-container{
        display: flex;
        padding-top:400px;
        margin-top: 2%;
        margin-bottom: 8%;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        /* width:20%; */
      }
      .boxer{
        justify-content: center;
        align-items: center;
        display:flex;
        max-height: 25px;
        /* min-height:200px; */
        /* min-width:200px; */
         max-width:50px;
        background-color: #202020;
        padding: 50px;
        /* border: 15px solid rgb(200,200,200); */
        color: rgb(220,220,220);
      }
    }



    @media only screen and (max-width: 350px){
      body{
        margin:0;
        margin:0;
        background-image: url(/images/contactusSmall.png);
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:center;
      }
      
    }
    
    