body {
    /* background-image: url('/images/contactus.gif'); */
    margin: 0;
    background-size: cover;
    overflow: hidden;

}

.Navigation {

    margin: 0;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    background: black;
}

.Navigation .Navigation-left {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 25%;
}

.Navigation .Navigation-center {
    padding-left: 15%;
    padding-right: 15%;
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Navigation .Navigation-right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 25%;

}

.Navigation a {
    text-align: center;
    color: white;
    padding: 16px 30px;
    border-radius: 5px;
    float: left;
    font-size: 20px;
    text-decoration: none;
}

.Navigation a:hover {
    color: rgb(169, 169, 169);
    transition: all 2.5s;
}


.navpadding {
    /*position: relative;*/
    /*left: 30.9%;*/
}

.signup {
    position: relative;
    float: right;
}

.boxpush {
    /*position: absolute;*/
    /*top: 5.87%;*/
    width: 100%;
}

.imagebox {
    /* top:15%; */
    height: 460px;
    background-image: url('/images/contactus.jpg');
    /* margin:0; */
    background-size: contain;
    background-repeat: no-repeat;
}

.contactContainer {
    background-image: url('https://cdn-icons-png.flaticon.com/512/4812/4812397.png');
    color: black;
    text-align: center;
    position: absolute;
    top: 59.5%;
    left: 0%;
    width: 500px;
    height: 36vh;
    border: 20px solid gainsboro;
    background: whitesmoke;
}

.contactContainer1 {
    /* background-image: url('https://cdn-icons-png.flaticon.com/512/4812/4812397.png'); */
    color: black;
    text-align: center;
    position: absolute;
    top: 59.5%;
    left: 34%;
    width: 500px;
    height: 36vh;
    border: 20px solid gainsboro;
    background: whitesmoke;
}

.contactContainer2 {
    /* background-image: url('https://cdn-icons-png.flaticon.com/512/4812/4812397.png'); */
    color: black;
    text-align: center;
    position: absolute;
    top: 59.5%;
    left: 67.68%;
    width: 500px;
    height: 36vh;
    border: 20px solid gainsboro;
    background: whitesmoke;
}
