/* The whole page */
body{
    background-color: #000000;
    margin:0;
    background-size: cover;
    overflow:hidden;
    position: absolute;
    color: white;
    overflow-y: scroll; 
    scroll-behavior: smooth;
}

.header{
    background-image: url('/images/WPGif2.gif');
    background-size:cover;
    position: absolute;
    height: 351px;
    top: 49px;
    width: 100%;
}


.WelcomeandBrowse{
    position: absolute;
    top: 50%;
    text-align: center;
    left: 50%;
    color:white;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

    

.Navigation {
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-weight:500;
    margin:-50px;
    border:50px solid rgb(0, 0, 0);
}

.Navigation a {
    text-align: center;
    color: white;
    padding: 16px 30px;
    border-radius: 5px;
    float: left;
    font-size: 20px;
    text-decoration: none;
}

.Navigation a:hover {
/* background-color: #c7c7c7; */
    color: rgb(169, 169, 169);
    transition: all 2.5s;
}


/* .Navigation a.current {
background-color: #828282;
color: white;
} */


.navpadding{
    position:relative;
    left:30.9%;
}
.browseCars {
    width: 165px;
    transition: all 2.5s;
    background-color: white;
    color:black;
    border:0;
    border-radius: 50px;
    top: 55%;
    left: 45.5%;
    position: absolute;
    text-align: center;
    cursor:pointer;   
    font-family:  "Gill Sans Extrabold", sans-serif ;
}

.browseCars:hover{
    background-color: black;
    color: rgb(255,255,255);
}
.signup{
    position:relative;
    float:right;
}

.content-container {
    position: relative;
    top: 410px;
    width: 100%;
}