/* The whole page */
body{
    background-color: #000000;
    margin:0;
    background-size: cover;
    overflow:hidden;
    color: white;
    overflow-y: scroll;
    scroll-behavior: smooth;
    font-family: "Gill Sans Extrabold", sans-serif;
}

/* .header{
    background-image: url('/images/WPGif2.gif');
    background-size:cover;
    position: absolute;
    height: 351px;
    top: 49px;
    width: 100%;
} */


/* .WelcomeandBrowse{
    position: absolute;
    top: 50%;
    text-align: center;
    left: 50%;
    color:white;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} */


li{
    list-style: none;
}

header{
    background-color: #101010;
}

a{
    color: white;
    text-decoration: none;
}

.NavigationBar{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 70px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0 24px;
}

.Navigations{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:60px;
}


.navigationLinks{
    transition:0.7s;
}

.navigationLinks:hover{
    color: #707070;
    transition-duration:1.2s;
}

.responsiveNav{
    display:none;
    cursor:pointer;
}

.burgerIcon{
    display:block;
    width:25px;
    height:3px;
    margin:5px auto;
    background-color:white;
}

/* .Navigation a.current {
background-color: #828282;
color: white;
} */

/* .browseCars {
    width: 165px;
    transition: all 2.5s;
    background-color: white;
    color:black;
    border:0;
    border-radius: 50px;
    top: 55%;
    left: 45.5%;
    position: absolute;
    text-align: center;
    cursor:pointer;
    font-family:  "Gill Sans Extrabold", sans-serif ;
} */

/* .browseCars:hover{
    background-color: black;
    color: rgb(255,255,255);
} */
.signup{
    position:relative;
    float:right;
}

/* .content-container {
    padding: 2.5%;
} */

.product-list .product-item {
    flex-direction: row;
    width: 100%;
}

.ui-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.ui-prompt-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: black;
}

.ui-prompt-box .login-container {
    /* padding: 10% 2.5%; */
    background-color: white;
    border-radius: 0.75%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signupForm {
    display: flex;
    flex-direction: column;
    padding: 5%;
    justify-content: center;
}

.signupForm div {
    display: flex;
    flex-direction: column;
    /* padding: 2.5%; */
    justify-content: space-evenly;
}

.login-ui {
    width: 30%;
}

.product-item {
    display: flex;
}

.form-control {
    display: flex;
    flex-direction: column;
    padding: 5%;
    justify-content: center;
    position: relative;
    align-items: center;
}

.form-control input{
    text-align: center;
}

.new-car {
    justify-content: center;
}

.page-errors {
    width: 100%;
}

.page-errors .unauthorised-error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    padding-top: 2.5%;
    padding-bottom: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.unauthorised-error-container {
    color: black;
    background-color: white;
    border-radius: 1.2px;
}

.singleProductBack {
    text-decoration-line: none;
    color: white;
    font-weight: bold;
}

footer {
    position: relative;
    color: #edf2f7;
    width: 100%;
    background-color: #4a5568;
    bottom: 0;
    padding: 1.25%;
    height: 21rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    overflow-x: hidden;
    vertical-align: baseline;
}

footer div {
    display: inline-block;
}

footer div div {
    padding-top: 1%;
    padding-right: 10%;
    padding-left: 10%;
}

.success-popup {
    color: green;
    background-color: lightgreen;
    padding: 1rem;
    border-radius: 25px;
}

.error-popup {
    color: red;
    background-color: lightpink;
    padding: 1rem;
    border-radius: 25px;
}

@media(max-width:768px){
    .responsiveNav{
        display:block;
    }

    .responsiveNav.active .burgerIcon:nth-child(1){
        transform: translateY(-2px) rotate(-25deg);
        transition-duration: 0.57s;
    }
    

    .Navigations{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        position:fixed;
        Left: -100%;
        top: 65px;
        gap: 0;
        flex-direction: column;
        background-color: #101010;
        width: 100%;
    }

    .marginSpacing{
        margin: 12px;
    }
    .navigationLinks{
        margin:12px;
        transition:0.7s;
        
    }

    .Navigations.active{
        Left:0;
    }
}


@media screen and ( max-width: 500px){
    
    .login-ui {
        width: 70%;
    }
   
    footer {
        color: #edf2f7;
        width: 100%;
        background-color: #4a5568;
    }

    footer div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        font-size: small;
    }
}

@media screen and ( min-width: 600px){
    
    .login-ui {
        width: 40%;
    }

    footer {
        color: #edf2f7;
        width: 100%;
        background-color: #4a5568;
    }
    
}

@media screen and ( min-width: 1000px){
    
    .login-ui {
        width: 40%;
    }

    footer {
        color: #edf2f7;
        width: 100%;
        background-color: #4a5568;
    }
    
}
