body{
  background-image: url('/images/WPGif1.gif');
  margin:0;
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* overflow:hidden; */
    font-family: "Gill Sans Extrabold", sans-serif;
  
}

.body1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 18%; */
    /* height:27vh; */
    height:100%;
    vertical-align: middle;
    
    max-width:100%;
    max-height:100%;

}


.WelcomeandBrowse{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content:center;
    flex-direction: column;
        text-align: center;
        color:white;
        height:100%;

        }

.WelcomeandBrowse h1 {
    font-size: xxx-large;
    font-weight: bolder;
}



.Navigation {
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-weight:500;
    /*margin:-50px;*/
    /*border:50px solid rgb(0, 0, 0);*/
    display: flex;
    flex-direction: row;
    background: black;
}

.Navigation .Navigation-left {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 25%;
}

.Navigation .Navigation-center {
    padding-left: 15%;
    padding-right: 15%;
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Navigation .Navigation-right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 25%;

}

.Navigation a {
    text-align: center;
    color: white;
    padding: 16px 30px;
    border-radius: 5px;
    float: left;
    font-size: 20px;
    text-decoration: none;
  }

  .Navigation a:hover {
    /* background-color: #c7c7c7; */
    color: rgb(169, 169, 169);
    transition: all 2.5s;
  }


  /* .Navigation a.current {
    background-color: #828282;
    color: white;
  } */





  .browseCars h3 a {
      text-decoration: none;
      color: black;

  }
  .browseCars h3 a:hover {
    text-decoration: none;
    color: white;
  }
  .browseCars border-radius a{
    text-decoration: white;
  }
  .browseCars border-radius a:hover{
    color:black;
  }

  .browseCars:hover{
    background-color: black;
    color: rgb(255,255,255);
  }
  .signup{
    position:relative;
    float:right;
  }

/*footer {*/
/*    !*position: fixed;*!*/
/*    color: #edf2f7;*/
/*    width: 100%;*/
/*    background-color: #4a5568;*/
/*    !*bottom: 0;*!*/
/*    padding: 1.25%;*/
/*}*/

/*footer div {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    flex-direction: column;*/
/*    width: 90%;*/
/*    font-size: small;*/
/*}*/

/*footer div div {*/
/*    padding-top: 1%;*/
/*    padding-right: 10%;*/
/*    padding-left: 10%;*/
/*}*/

.browseCarsBtn {
    transition: all 1s;
    width: fit-content;
    border-radius: 3rem;
    background-color: white;
}

.browseCarsBtn div {
    padding: 1rem 1rem 1rem;
}

.browseCarsBtn div a {
    transition: all 0.05s;
    border-radius: 3rem;
    width: max-content;
    padding: inherit;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

.browseCarsBtn:hover {
    transition: all 2s;
    background-color: black;
    color: white;
    text-decoration: white;
}

.browseCarsBtn div a:hover {
    transition: all 0.25s;
    color: white;
    text-decoration: none;
}

@media (max-width: 1372px){
  .Navigation {
  display:block;
}

.Navigation .Navigation-left {
  display:block;
}

.Navigation .Navigation-center {
  display:block;
}

.Navigation .Navigation-right {
  display:none;
}

.Navigation a {
  display:none;
  }

  .Navigation a:hover {
    display:none;
  }
} 
