body{

    background-image: url('/images/background.JPG');
    background-size:cover;
}

.pastOrdersContainer {
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: white;
}

.content-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 8%;
}

.pastOrder {
    display: flex;
    flex-direction: row;
    color: black;
}

.pastOrder .orderDetails {
    padding: 1.25%;
    box-shadow: #cbd5e0 1px 1px;
    width: 75%;
}

.orderStatus {
    width: 25%;
    box-shadow: #cbd5e0 1px 1px;
    padding-right: 1.25%;
    text-align: right;
}
