body{
    background-image: url('/images/background.JPG');
    margin:0;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    text-align: left;
    margin: 0;
}

.product-container{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    /* padding-bottom: 20%; */
    /* background-color: white; */
    width: 100%;
}

.product-card {
    border-radius: 40px;
    background-color: rgb(219, 219, 219);
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
    margin: 1.2%;
    padding: 2.5%;
    width: 50%;
    text-align: left;
    color: black;
}

.product-card img{
    border-radius: 10px;
    /*height: 200px;*/
    /*width: 300px;*/
}

.product-card h3{
    margin: 10px 0;
}

.product-card p{
    margin: 10px 0;
}

.product-details ul {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    text-align: left;
}

.product-details li{
    margin: 5px 0;
}

.product-details li strong {
    margin-right: 10px;
}

.product-reviews h4{
    margin: 10px 0;
}

.product-reviews ul{
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    text-align: left;
}

.product-reviews li{
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.products-ui-wrapper {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
}

.review-rating {
    margin-right: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    color: beige;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}

.Fantastic{
    background-color: blue;
}

.good{
    background-color: green;
}

.alright{
    background-color: orange;
}

.poor{
    background-color: red;
}

button{
    background-color: black;
    border: none;
    border-radius: 10px;
    color: beige;
    font-size: 16px;
    margin: 20px 0;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #010320;
}

button1{
    background-color: white;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    margin: 20px 0;
    padding-top: 30%;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

button1:hover {
    background-color: #010320;
}
.filter-container-mobile {
    display: none;
}
@media (max-width: 768px) {
    .product-container {
        flex-direction: column;

    }
    .product-card {
        flex-direction: column;
    }

    .product-card .product-card-img {
        align-items: center;
    }

    .filter-container{
        display: none;
    }

    .filter-container form .product-filter-form-wrapper {
        display: none;
    }

    .filter-container form .product-filter-form-wrapper div {
        display: none;
    }

    .filter-container form .product-filter-form-wrapper div div select {
        display: none;
    }

    .filter-container-mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: black;
    }

    .filter-container-mobile .filter-container-mobile-form {
        background-color: rgb(219, 219, 219);
        width: 80%;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }

    .filter-container-mobile .filter-container-mobile-form .filter-container-mobile-form-groups {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .filter-container-mobile .filter-container-mobile-form .filter-container-mobile-form-groups div {
        padding: 0.25rem;
    }

    .filter-container-mobile .filter-container-mobile-form .filter-container-mobile-form-groups .filter-transmission-mobile {
        display: flex;
        flex-direction: column;
    }

    .filter-container-mobile .filter-container-mobile-form .filter-container-mobile-form-groups .filter-transmission-mobile .filter-transmission-mobile-types {
        display: flex;
        flex-direction: column;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    .filter-container-mobile .filter-container-mobile-form .filter-container-mobile-form-groups .filter-transmission-mobile .filter-transmission-mobile-types div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    input {
        width: 100%;
    }

    select {
        font-size: medium;
        width: 100%;
        padding: 0.5rem;
    }

}

.product-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    /* grid-template-columns: auto auto auto auto; */
    /* gap: 10px; */
    /* grid: auto / auto auto auto; */
    text-align: center;

}

.product-card {
    height: 95%;
    display: flex;
    width: auto;
}

.product-btn button {
    display: inline-block;
    margin: 10px;
}

.product-card .product-card-img {
    width: auto;
    align-items: center;
}

.product-card .product-card-img img {
    width: 100%;
}

.product-card-desc {
    text-align: center;
}

.productTitle a {
    text-decoration-line: none;
    color: black;
}
p.first{
    padding-right:1022%;
}
.productDesc{
    /* width: min-content; */
    justify-content: start;
    padding: 2.5rem;
    align-items: center;
}

.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background-color: rgb(219, 219, 219);
    border-radius: 1rem;
    color: black;
}

.filter-container form .product-filter-form-wrapper {
    justify-content: center;
    align-items: center;
}

.filter-container form .product-filter-form-wrapper div {
    padding: 0.5rem;
}

.filter-container form .product-filter-form-wrapper div div select {
    padding: 0.5rem;
    background-color: #cbd5e0;
    border: none;
    width: 100%;
    border-radius: 0.25rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.price-range .price-range-from-to {
    padding: 0.5rem;
}

.price-range .price-range-likes {
    padding: 0.5rem;
}

.single-product-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.single-product-wrapper .single-product-card {
    background-color: white;
    color: black;
    padding: 1.75rem;
    border-radius: 1rem;
}

.single-product-wrapper .single-product-header {
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.single-product-wrapper .single-product-header a {
    color: black;
    font-size: large;
}

.single-product-wrapper .single-product-header a:hover {
    text-decoration: underline black solid;
}

.single-product-wrapper .single-product-image {
    padding: 1rem 1rem 0 0;
    width: 100%;
    flex-direction: column;
}

.single-product-wrapper .single-product-image img {
    border-radius: 1rem;
}

.single-product-wrapper .single-product-image .slideNumber {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.single-product-wrapper .single-product-image .slideNumber div {
    margin: 0.5rem;
}


