body {
    background-image: url('/images/background.JPG');
    font-family: "Gill Sans Extrabold", sans-serif;
    /* background-color: #0b0a0a; */
    justify-content: center;
    align-items: center;
}

.content-container {
    display: flex;
    justify-content: center;
}

.Sign-up{
    width:65%;
    border-radius: 3px;
}


.Button {
    transition: all 1s;
    width: fit-content;
    border-width: 0.25rem;
    border-radius: 15px;
    background-color: white;
    color:black;
    text-decoration:solid;
    width:100px;    
    font-size: 1rem;
}

.Button div {
    padding: 1rem 1rem 1rem;
}

.Button div a {
    transition: all 0.05s;
    border-radius: 3rem;
    width: max-content;
    padding: inherit;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

.Button:hover {
    transition: all 0.5s;
    background-color: black;
    color: white;
    text-decoration: white;
}

.Button div a:hover {
    transition: all 0.25s;
    color: black;
    text-decoration: none;
}


.Sign-up .Title{
    font-size: 30px;
    /*font-weight: 600px;*/
}

.ui-container {
    display: flex;
    justify-content: center;
}

.signupForm input {
    /*width: 80%;*/
    height: 30px;
    /*border: none;*/
    /*border-bottom: 1px solid white;*/
    /*background-color: transparent;*/
    color: black;
    font-size: 20px;
    font-weight: normal;
    margin: 5px;
    text-align: center;
}

.signupForm input[type=submit] {
    height: 20%;
}

.signupForm input[type=text] {
    padding: 1.25%;
    border-radius: 2.5px;
    border: 1px solid silver;
    text-align: left;
}

.signupForm input[type=password] {
    padding: 1.25%;
    border-radius: 2.5px;
    border: 1px solid silver;
    text-align: left;
}

.centred{

    text-align:center;
}

.textpadding23{
    padding-left: 10%;
}




.errors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2.5px;
    width: 100%;
    background-color: lightpink;
    color: red;
    margin-bottom: 1.25%;
}

@media (min-width: 780px){
    .Sign-up{
        width:30%;
        border-radius: 3px;
    }
    
}