body {
    font-family: "Gill Sans Extrabold", sans-serif;
    background-color: #0b0a0a;
    justify-content: center;
    align-items: center;
}

.content-container {
    display: flex;
    justify-content: center;
}

.Sign-up{
    width: 30%;
    /*background-color: #fffcfc;*/
    /*border-radius: 20px;*/
    /*padding: 20px 25px;*/
    border-radius: 8px;
}

.Sign-up .Title{
    font-size: 30px;
    /*font-weight: 600px;*/
}

.ui-container {
    display: flex;
    justify-content: center;
}

.signupForm input {
    /*width: 80%;*/
    height: 30px;
    /*border: none;*/
    /*border-bottom: 1px solid white;*/
    /*background-color: transparent;*/
    color: black;
    font-size: 20px;
    font-weight: normal;
    margin: 5px;
    text-align: center;
}

.signupForm input[type=submit] {
    height: 20%;
}

.signupForm input[type=text] {
    padding: 1.25%;
    border-radius: 2.5px;
    border: 1px solid silver;
    text-align: left;
}

.signupForm input[type=password] {
    padding: 1.25%;
    border-radius: 2.5px;
    border: 1px solid silver;
    text-align: left;
}

.errors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2.5px;
    width: 100%;
    background-color: lightpink;
    color: red;
    margin-bottom: 1.25%;
}


