body {
    display: flex;
    height: 80vh;
    background-color: #0b0a0a;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.Sign-up{
    max-width: 800px;
    width: 100%;
    background-color: #fffcfc;
    border-radius: 20px;
    padding: 20px;
}

